/**********************************************************/
/**************** START CONTAINER HEADER ******************/
.tabular-calendar-container-header{
    margin-bottom: 1em;
    text-align: right;
}

.tabular-header{
    height:2em;
}

.current-month{
    display:inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin-right:0.5em;
}
.select-month-btn{
    display: inline-block;
}
.default-select-month-btn{
    transition: all 0.1s ease-in-out;
    background-color: var(--tabular-calendar-btn-bg-color);
    color:var(--tabular-calendar-btn-color);
    padding: 0.5em 0.7em;
    margin: 0 0.5em;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

.default-select-month-btn:hover{
    cursor:pointer;
    box-shadow: 1px 1px 8px var(--shadow-color);
    background-color: var(--tabular-calendar-btn-hover-bg-color);
}

.default-select-month-btn:active{
    transform: scale(0.95);
}
/***************** END CONTAINER HEADER *******************/
/**********************************************************/

#tabular-calendar-container{
    color:var(--text-color) !important;
}

.loading-text{
    font-size: 1.5em;
}

.tabular-calendar-table{
    width:100%;
    font-size: 1.2em;
    border-collapse: collapse;
}
.event-cell{
    border:solid 1px #4a4a4a;
    height:2em;
    transition: all 0.1s ease-in-out;
    opacity: 0.8;
}

.tabular-calendar-table tbody{
    box-shadow: 2px 2px 10px var(--shadow-color);
}

.event-cell:hover{
    transform: scale(0.9);
}

.tabular-user-name-cell{
    border: solid 1px #4a4a4a;
    padding-left:1em;
    transition: all 0.15s ease-in-out;
}

.tooltip-event{
    position:absolute;
    top:50%;
    left:50%;
    background-color: lightgray;
    color: black;
    border:solid 1px grey;
    box-shadow: 1px 1px 5px var(--shadow-color);
    padding: 0.7em;
}
