.tabular-calendar-header{
    margin-bottom: 0.5em;
    text-align: right;
}

.current-month{
    display:inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin-right:0.5em;
}

.select-month-btn{
    transition: transform 0.1s ease-in-out;
    display: inline-block;
    background-color: var(--main-color);
    color:var(--main-background-color);
    padding: 0.5em 0.7em;
    margin: 0 0.5em;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

.select-month-btn:hover{
    cursor:pointer;
    background-color: var(--main-hover-color);
}

.select-month-btn:active{
    transform: scale(0.95);
}