*{
    padding:0;
    margin:0;
}

body{
    background-color: var(--main-background-color);
}

.classic-head-title{
    border-left: solid 5px var(--main-color) !important;
    padding-left: 1em !important;
    margin-bottom:1em !important;
}

h1{
    color: var(--main-color) !important;
}

.my-app-container{
    margin-top:2em;
}
