:root{
    --header-background-color : #005973;
    --login-color : #005973;
    --loader-color : #005973;
    --title-color : #005973;
    --tabular-calendar-btn-bg-color: #005973;
    --tabular-calendar-btn-color: #EEEEEE;
    --tabular-calendar-week-end-color: grey;
    --tabular-calendar-btn-hover-bg-color: #0088B0;
    --text-color : #232323;
    --hover-color:#0088B0;
    --error-color:#D02121;
    --admin-color:#F1634F;
    --background-color: #EEEEEE;
    --shadow-color: grey;
    --header-list-background-color: #d2d2d2;
}

*{
    padding:0;
    margin:0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

h2{
    color:var(--title-color);
}

label{
    color:var(--text-color) !important;
}

.main-color-text{
    color:var(--text-color);
}

.text-center{
    text-align: center;
}

.d-none{
    display:none;
}

.d-flex{
    display:flex;
}

.hr-custom{
    opacity:0.4;
}

.swal2-actions{
    z-index:unset !important;
}

/* Yeah, i know that i shouldn't do this, but i dont really have the choice :( */
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    border: solid 1px #bdbdbd !important;
}

.ui.loading.segment:before {
    background: none !important;
}

.inverted-tab-bg{
    background-color: #272829 !important;
}