.admin-service-btn{
    transition: all 0.1s ease-in-out;
}

.admin-service-btn:hover{
    cursor:pointer;
}

.button-delete-service{
    color: #c3361b;
}

.button-delete-service:hover{
    color: #f1634f;
}

.button-edit-service{
    color: #46a0bd;
}

.button-edit-service:hover{
    color: #2c6680;
}