.users-list-admin-btn{
    transition: all 0.1s ease-in-out;
}
.users-list-admin-btn:hover{
    cursor:pointer;
}

.button-delete-user, .button-deactivate-user{
    color: #c3361b;
}

.button-delete-user:hover, .button-deactivate-user:hover{
    color: #f1634f;
}

.button-edit-user-roles{
    color: #2c6680;
}

.button-edit-user-roles:hover{
    color: #46a0bd;
}

.button-activate-user{
    color: #4FCD49;
}

.button-activate-user:hover{
    color: #78cd6b;
}