.users-list-admin-btn{
    transition: all 0.1s ease-in-out;
}
.users-list-admin-btn:hover{
    cursor:pointer;
}

.button-delete-user{
    color: #c3361b;
}

.button-delete-user:hover{
    color: #f1634f;
}